body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(45deg, #10443E, #32745C, #62A29A, #B29361, #EDE4D6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    text-align: center;
    padding: 50px 0;
}

#logo {
    max-width: 100%;
    max-height: 180px;
    height: auto;
}

#store-buttons img {
    width: 150px;
    height: auto;
    margin: 10px;
}

section {
    padding: 50px;
    background: #EDE4D6;
}

footer { 
    background: #10443E;
    color: #EDE4D6;
    text-align: center;
    padding: 20px;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature {
    flex: 0 1 24%; 
    max-width: 24%; 
    box-sizing: border-box;
    padding: 10px;
}

.feature img {
    width: 100%;
    height: auto;
}

/* For small screens */
@media only screen and (max-width: 600px) {
    .feature {
        flex: 0 1 100%;
        max-width: 100%;
    }
}
